# Weather Scraper Numpy Addition

Gets every max temperature, min temperature, and percipitation for every day between Start_Date and End_Date, in both locations

THIS CODE WILL NOT WORK WHEN RAN! IF YOU WANT TO TEST, CONTACT ME FOR THE API KEY

In [2]:
import pandas as pd #pandas
from datetime import date, timedelta # Calculating Dates
import requests #requests for https
import json # Ability to convert things to json
import numpy as np

In [3]:
url = 'https://api.openweathermap.org/data/3.0/onecall/day_summary?' #Api link
api_key = '&appid=4f97ab3365cb578ab4c6dccf08d03df4' #key
locations = ['Arlington, VA', 'New York, NY'] #two locations
loc2coord = { #two locations in a dict with corrisponding lat and lon
    'Arlington, VA': 'lat=38.8816&lon=77.0910',
    'New York, NY': 'lat=40.7128&lon=74.0060'
}

In [4]:
def k2f(kevlin): #converts kelvin to Fernight
    z = (9/5)*(kevlin-273) + 32
    return(z)

In [5]:
Start_Date = date(2024, 1, 1) #Jan 1, 2024
End_Date = date(2024, 4, 28)# Apr 27, 2024

In [6]:
datesList = pd.date_range(Start_Date, End_Date-timedelta(days=1), freq='d') #This creates a list of all of the dates between Jan1, 2024 and Apr 27, 2024
dates = datesList[:5]
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05'],
              dtype='datetime64[ns]', freq='D')

In [9]:


for a_loc in locations:
    for a_date in dates:
        requestD = requests.get(url + loc2coord[a_loc] + "&date=" + str(a_date)[:10] +api_key)
        requestJSON = json.loads(requestD.text)
        #print(requestD.text)
        #print(str(a_date)[:10])
        df.loc[len(df.index)] = [ #get last row then assign stuff to it
            a_loc,
            a_date,
            round(k2f(float(requestJSON['temperature']['max'])), 2),
            round(k2f(float(requestJSON['temperature']['min'])), 2),
            requestJSON['precipitation']['total']
        ]

#Basicaly, the for loop goes through both locations, and in each locations, it goes through the dates
#It then gets the specified data for that date, converts it to json (so i can read it easier)
#It then adds it to the DataFrame df with the location, date, min temp, max temp, and percipitation

             place       date  high temp  low temp  precipitation
0    Arlington, VA 2024-01-01      37.24     23.34           0.00
1    Arlington, VA 2024-01-02      37.38     23.40           0.00
2    Arlington, VA 2024-01-03      36.54     23.56           0.00
3    Arlington, VA 2024-01-04      36.45     23.94           0.00
4    Arlington, VA 2024-01-05      35.29     24.76           0.00
..             ...        ...        ...       ...            ...
231   New York, NY 2024-04-23      52.27     43.18           0.20
232   New York, NY 2024-04-24      54.23     41.32           0.00
233   New York, NY 2024-04-25      58.03     43.84           6.16
234   New York, NY 2024-04-26      47.98     40.48           1.66
235   New York, NY 2024-04-27      48.18     37.29           0.10

[236 rows x 5 columns]

In [10]:
df.to_csv("WeatherTempPercp.csv")
#exports to CSV

In [17]:
array_2d = np.array([[[1,2], [3,4], [9,0]], [[5,6], [7,8], [10,11]]])
array_2d

array([[[ 1,  2],
        [ 3,  4],
        [ 9,  0]],

       [[ 5,  6],
        [ 7,  8],
        [10, 11]]])