Highest Weather of Farfax, Arlington

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
URL_A = "https://www.timeanddate.com/weather/usa/arlington-wa/climate"
URL_NY = "https://www.timeanddate.com/weather/usa/new-york/climate"

NY List

In [5]:
r2 = requests.get(URL_NY) #gets website
df2=pd.read_html(r2.text) #r2.text gets the html of the webpage,
#then pandas creates a list of DataFrame
df2[0] #Reference the DataFrame i want

/var/folders/8f/3k2pfgwd1w10sjclx28z3pt00000gn/T/ipykernel_47038/2402868529.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df2=pd.read_html(r2.text)

  Quick Climate Info  Quick Climate Info.1
0      Hottest Month      July (77 °F avg)
1      Coldest Month   January (34 °F avg)
2      Wettest Month      July (4.83" avg)
3     Windiest Month  January (13 mph avg)
4     Annual precip.     50.10" (per year)

Arlington List

In [6]:
r = requests.get(URL_A)
r.status_code
#print(r.text)
df = pd.read_html(r.text)
df[0]

/var/folders/8f/3k2pfgwd1w10sjclx28z3pt00000gn/T/ipykernel_47038/3221704957.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(r.text)

  Quick Climate Info  Quick Climate Info.1
0      Hottest Month    August (64 °F avg)
1      Coldest Month  December (38 °F avg)
2      Wettest Month  November (6.67" avg)
3     Windiest Month    March (12 mph avg)
4     Annual precip.     48.15" (per year)

Getting Highest Temp, Lowest Temp, and Precipitation

In [7]:
Arlington_heat = df[0].iloc[0,1] #grabs item from first DataFrame, on 
#row 0, column 1
Arlington_heat

'August (64\xa0°F avg)'

In [8]:
Arlington_cold = df[0].iloc[1,1]
Arlington_cold

'December (38\xa0°F avg)'

In [9]:
Arlington_preciptation = df[0].iloc[4,1]
Arlington_preciptation

'48.15" (per year)'

In [10]:
NY_heat = df2[0].iloc[0,1]
NY_heat

'July (77\xa0°F avg)'

In [11]:
NY_cold = df2[0].iloc[1,1]
NY_cold

'January (34\xa0°F avg)'

In [12]:
NY_preciptation = df2[0].iloc[4,1]
NY_preciptation

'50.10" (per year)'

Final Answer

Saving to a new list

In [13]:
finalDict = {"Name": ["Arlington", "New York"], "Highest Temp": [Arlington_heat, NY_heat], "Lowest Temps": [Arlington_cold, NY_cold], "Percipitation": [Arlington_preciptation, NY_preciptation]}
#Saving all of the data from above onto
#A new list that is structured better

finalDF = pd.DataFrame(finalDict) #Convirting Dict to DataFrame
finalDF

        Name        Highest Temp          Lowest Temps      Percipitation
0  Arlington  August (64 °F avg)  December (38 °F avg)  48.15" (per year)
1   New York    July (77 °F avg)   January (34 °F avg)  50.10" (per year)

Export to CSV

In [14]:
finalDF.to_csv("Weather.csv")