Highest Weather of Farfax, Arlington

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
URL_A = "https://www.timeanddate.com/weather/usa/arlington-wa/climate"
URL_NY = "https://www.timeanddate.com/weather/usa/new-york/climate"

In [5]:
r2 = requests.get(URL_NY)
df=pd.read_html(r2.text)
df[0]

/var/folders/8f/3k2pfgwd1w10sjclx28z3pt00000gn/T/ipykernel_41800/117711083.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(r2.text)

  Quick Climate Info  Quick Climate Info.1
0      Hottest Month      July (77 °F avg)
1      Coldest Month   January (34 °F avg)
2      Wettest Month      July (4.83" avg)
3     Windiest Month  January (13 mph avg)
4     Annual precip.     50.10" (per year)

In [27]:
r = requests.get(URL_A)
r.status_code
#print(r.text)
df = pd.read_html(r.text)
df[0]

/var/folders/8f/3k2pfgwd1w10sjclx28z3pt00000gn/T/ipykernel_40892/3221704957.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(r.text)

  Quick Climate Info  Quick Climate Info.1
0      Hottest Month    August (64 °F avg)
1      Coldest Month  December (38 °F avg)
2      Wettest Month  November (6.67" avg)
3     Windiest Month    March (12 mph avg)
4     Annual precip.     48.15" (per year)

In [28]:
Arlington_heat = df[0].iloc[0,1]
Arlington_heat

'August (64\xa0°F avg)'

In [30]:
Arlington_cold = df[0].iloc[1,1]
Arlington_cold

'December (38\xa0°F avg)'

In [32]:
Arlington_preciptation = df[0].iloc[4,1]
Arlington_preciptation

'48.15" (per year)'