web scraping

In [3]:
from bs4 import BeautifulSoup
import requests

In [6]:
html = "<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3> \
<b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p> \
<h3>Stephen Curry</h3><p> Salary: $85,000,000</p> \
<h3>Kevin Durant</h3><p> Salary: $73,200,000</p></body></html>"

soup = BeautifulSoup(html, 'html5lib')
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000,000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200,000
  </p>
 </body>
</html>

In [7]:
tag_object = soup.title
print("tag object:", tag_object)

tag object: <title>Page Title</title>

In [9]:
tag_object = soup.h3
tag_object

In [10]:
tag_child = tag_object.b
tag_child

In [11]:
parent_tag = tag_child.parent
parent_tag

In [15]:
sibling_1 = tag_object.next_sibling
sibling_1

In [16]:
sibling_2 = sibling_1.next_sibling
sibling_2

' '

In [14]:
sibling_2.next_sibling

In [17]:
tag_child['id']

'boldest'

In [18]:
tag_string = tag_child.string
tag_string

'Lebron James'

In [19]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [21]:
table = "<table><tr><td id='flight'>Flight No</td><td>Launch site</td> \
<td>Payload mass</td></tr><tr> <td>1</td> \
<td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td> \
<td>300 kg</td></tr><tr><td>2</td> \
<td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td> \
<td>94 kg</td></tr><tr><td>3</td> \
<td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td> \
<td>80 kg</td></tr></table>"
table_bs = BeautifulSoup(table, 'html5lib')

In [23]:
print(table_bs.prettify())

<html>
 <head>
 </head>
 <body>
  <table>
   <tbody>
    <tr>
     <td id="flight">
      Flight No
     </td>
     <td>
      Launch site
     </td>
     <td>
      Payload mass
     </td>
    </tr>
    <tr>
     <td>
      1
     </td>
     <td>
      <a href="https://en.wikipedia.org/wiki/Florida">
       Florida
      </a>
      <a>
      </a>
     </td>
     <td>
      300 kg
     </td>
    </tr>
    <tr>
     <td>
      2
     </td>
     <td>
      <a href="https://en.wikipedia.org/wiki/Texas">
       Texas
      </a>
     </td>
     <td>
      94 kg
     </td>
    </tr>
    <tr>
     <td>
      3
     </td>
     <td>
      <a href="https://en.wikipedia.org/wiki/Florida">
       Florida
      </a>
      <a>
      </a>
     </td>
     <td>
      80 kg
     </td>
    </tr>
   </tbody>
  </table>
 </body>
</html>

In [24]:
table_rows = table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td> <td>300 kg</td></tr>,
 <tr><td>2</td> <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td> <td>94 kg</td></tr>,
 <tr><td>3</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td> <td>80 kg</td></tr>]

In [25]:
first_row = table_rows[0]
first_row

In [26]:
for i, row in enumerate(table_rows):
    print("row", i, "is", row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td> <td>300 kg</td></tr>
row 2 is <tr><td>2</td> <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td> <td>94 kg</td></tr>
row 3 is <tr><td>3</td> <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td> <td>80 kg</td></tr>

In [27]:
for i, row in enumerate(table_rows):
    print("row", i)
    cells = row.find_all('td')
    for j, cell in enumerate(cells):
        print('colunm', j, "cell", cell)

row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td>1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
colunm 2 cell <td>80 kg</td>

In [28]:
list_input = table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

Exersize

In [32]:
table_href = table_bs.find_all('a', href = False)
table_href

In [34]:
soup.find_all(id="boldest")

Web Scraping

In [35]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

In [36]:
two_tables="<h3>Rocket Launch </h3> \
<p><table class='rocket'> \
<tr><td>Flight No</td><td>Launch site</td><td>Payload mass</td></tr> \
<tr><td>1</td><td>Florida</td><td>300 kg</td></tr> \
<tr><td>2</td><td>Texas</td><td>94 kg</td></tr> \
<tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p>\
<p><h3>Pizza Party</h3> \
<table class='pizza'> \
<tr><td>Pizza Place</td><td>Orders</td><td>Slices </td></tr> \
<tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr> \
<tr><td>Little Caesars</td><td>12</td><td >144 </td></tr> \
<tr><td>Papa John's</td><td>15 </td><td>165</td></tr>"

In [37]:
two_tables_bs = BeautifulSoup(two_tables, 'html.parser')

In [38]:
two_tables_bs.find("table")

<table class="rocket"> <tr><td>Flight No</td><td>Launch site</td><td>Payload mass</td></tr> <tr><td>1</td><td>Florida</td><td>300 kg</td></tr> <tr><td>2</td><td>Texas</td><td>94 kg</td></tr> <tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [39]:
two_tables_bs.find("table", class_='pizza')

<table class="pizza"> <tr><td>Pizza Place</td><td>Orders</td><td>Slices </td></tr> <tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr> <tr><td>Little Caesars</td><td>12</td><td>144 </td></tr> <tr><td>Papa John's</td><td>15 </td><td>165</td></tr></table>

dowloading and scraping webpage

In [40]:
url = "http://www.ibm.com"

In [41]:
data = requests.get(url).text

In [42]:
soup = BeautifulSoup(data, 'html5lib')

In [50]:
for link in soup.find_all('a', href = True):
    print(link.get("href"))

https://www.ibm.com/cloud?lnk=hpUSbt1

In [52]:
for link in soup.find_all('img'):  # in html image is represented by the tag <img>
    print(link)
    print(link.get('src'))

Scrape data from HTMl tables

In [56]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"
# get the contents of the webpage in text format and store in a variable called data
data = requests.get(url).text
soup = BeautifulSoup(data, 'html5lib')
soup.prettify

<bound method Tag.prettify of <html><head></head><body>
      <h1>Partital List  of HTML5 Supported Colors</h1>
<table border="1" class="main-table">
   <tbody><tr>
      <td>Number </td>
      <td>Color</td>
      <td>Color Name</td>
      <td>Hex Code<br/>#RRGGBB</td>
      <td>Decimal Code<br/>(R,G,B)</td>
   </tr>
   <tr>
      <td>1</td>
      <td style="background:lightsalmon;"> </td>
      <td>lightsalmon</td>
      <td>#FFA07A</td>
      <td>rgb(255,160,122)</td>
   </tr>
   <tr>
      <td>2</td>
      <td style="background:salmon;"> </td>
      <td>salmon</td>
      <td>#FA8072</td>
      <td>rgb(250,128,114)</td>
   </tr>
   <tr>
      <td>3</td>
      <td style="background:darksalmon;"> </td>
      <td>darksalmon</td>
      <td>#E9967A</td>
      <td>rgb(233,150,122)</td>
   </tr>
   <tr>
      <td>4</td>
      <td style="background:lightcoral;"> </td>
      <td>lightcoral</td>
      <td>#F08080</td>
      <td>rgb(240,128,128)</td>
   </tr>
   <tr>
      <td>5</td>
      <td style="background:coral;"> </td>
      <td>coral</td>
      <td>#FF7F50</td>
      <td>rgb(255,127,80)</td>
   </tr>
   <tr>
      <td>6</td>
      <td style="background:tomato;"> </td>
      <td>tomato</td>
      <td>#FF6347</td>
      <td>rgb(255,99,71)</td>
   </tr>
   <tr>
      <td>7</td>
      <td style="background:orangered;"> </td>
      <td>orangered</td>
      <td>#FF4500</td>
      <td>rgb(255,69,0)</td>
   </tr>
   <tr>
      <td>8</td>
      <td style="background:gold;"> </td>
      <td>gold</td>
      <td>#FFD700</td>
      <td>rgb(255,215,0)</td>
   </tr>
   <tr>
      <td>9</td>
      <td style="background:orange;"> </td>
      <td>orange</td>
      <td>#FFA500</td>
      <td>rgb(255,165,0)</td>
   </tr>
   <tr>
      <td>10</td>
      <td style="background:darkorange;"> </td>
      <td>darkorange</td>
      <td>#FF8C00</td>
      <td>rgb(255,140,0)</td>
   </tr>
   <tr>
      <td>11</td>
      <td style="background:lightyellow;"> </td>
      <td>lightyellow</td>
      <td>#FFFFE0</td>
      <td>rgb(255,255,224)</td>
   </tr>
   <tr>
      <td>12</td>
      <td style="background:lemonchiffon;"> </td>
      <td>lemonchiffon</td>
      <td>#FFFACD</td>
      <td>rgb(255,250,205)</td>
   </tr>
   <tr>
      <td>13</td>
      <td style="background:papayawhip;"> </td>
      <td>papayawhip</td>
      <td>#FFEFD5</td>
      <td>rgb(255,239,213)</td>
   </tr>
   <tr>
      <td>14</td>
      <td style="background:moccasin;"> </td>
      <td>moccasin</td>
      <td>#FFE4B5</td>
      <td>rgb(255,228,181)</td>
   </tr>
   <tr>
      <td>15</td>
      <td style="background:peachpuff;"> </td>
      <td>peachpuff</td>
      <td>#FFDAB9</td>
      <td>rgb(255,218,185)</td>
   </tr>
   <tr>
      <td>16</td>
      <td style="background:palegoldenrod;"> </td>
      <td>palegoldenrod</td>
      <td>#EEE8AA</td>
      <td>rgb(238,232,170)</td>
   </tr>
   <tr>
      <td>17</td>
      <td style="background:khaki;"> </td>
      <td>khaki</td>
      <td>#F0E68C</td>
      <td>rgb(240,230,140)</td>
   </tr>
   <tr>
      <td>18</td>
      <td style="background:darkkhaki;"> </td>
      <td>darkkhaki</td>
      <td>#BDB76B</td>
      <td>rgb(189,183,107)</td>
   </tr>
   <tr>
      <td>19</td>
      <td style="background:yellow;"> </td>
      <td>yellow</td>
      <td>#FFFF00</td>
      <td>rgb(255,255,0)</td>
   </tr>
   <tr>
      <td>20</td>
      <td style="background:lawngreen;"> </td>
      <td>lawngreen</td>
      <td>#7CFC00</td>
      <td>rgb(124,252,0)</td>
   </tr>
   <tr>
      <td>21</td>
      <td style="background:chartreuse;"> </td>
      <td>chartreuse</td>
      <td>#7FFF00</td>
      <td>rgb(127,255,0)</td>
   </tr>
   <tr>
      <td>22</td>
      <td style="background:limegreen;"> </td>
      <td>limegreen</td>
      <td>#32CD32</td>
      <td>rgb(50,205,50)</td>
   </tr>
   <tr>
      <td>23</td>
      <td style="background:lime;"> </td>
      <td>lime</td>
      <td>#00FF00</td>
      <td>rgb(0.255.0)</td>
   </tr>
   <tr>
      <td>24</td>
      <td style="background:forestgreen;"> </td>
      <td>forestgreen</td>
      <td>#228B22</td>
      <td>rgb(34,139,34)</td>
   </tr>
   <tr>
      <td>25</td>
      <td style="background:green;"> </td>
      <td>green</td>
      <td>#008000</td>
      <td>rgb(0,128,0)</td>
   </tr>
   <tr>
      <td>26</td>
      <td style="background:powderblue;"> </td>
      <td>powderblue</td>
      <td>#B0E0E6</td>
      <td>rgb(176,224,230)</td>
   </tr>
   <tr>
      <td>27</td>
      <td style="background:lightblue;"> </td>
      <td>lightblue</td>
      <td>#ADD8E6</td>
      <td>rgb(173,216,230)</td>
   </tr>
   <tr>
      <td>28</td>
      <td style="background:lightskyblue;"> </td>
      <td>lightskyblue</td>
      <td>#87CEFA</td>
      <td>rgb(135,206,250)</td>
   </tr>
   <tr>
      <td>29</td>
      <td style="background:skyblue;"> </td>
      <td>skyblue</td>
      <td>#87CEEB</td>
      <td>rgb(135,206,235)</td>
   </tr>
   <tr>
      <td>30</td>
      <td style="background:deepskyblue;"> </td>
      <td>deepskyblue</td>
      <td>#00BFFF</td>
      <td>rgb(0,191,255)</td>
   </tr>
   <tr>
      <td>31</td>
      <td style="background:lightsteelblue;"> </td>
      <td>lightsteelblue</td>
      <td>#B0C4DE</td>
      <td>rgb(176,196,222)</td>
   </tr>
   <tr>
      <td>32</td>
      <td style="background:dodgerblue;"> </td>
      <td>dodgerblue</td>
      <td>#1E90FF</td>
      <td>rgb(30,144,255)</td>
   </tr>
</tbody></table>

</body></html>>

In [54]:
table=soup.find('table')

In [55]:
for row in table.find_all('tr'):  # in html table row represented by tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td')  # in html a column is represented by tag <td>
    color_name = cols[2].string  # store the value in column 3 as color_name
    color_code = cols[3].text  # store the value in column 4 as color_code
    print("{}--->{}".format(color_name, color_code))

Color Name--->Hex Code#RRGGBB
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

scraping tables from a web page with pandas

In [57]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [58]:
import pandas as pd

tables = pd.read_html(url)
tables

[         0      1               2                 3                     4
 0   Number  Color      Color Name  Hex Code #RRGGBB  Decimal Code (R,G,B)
 1        1    NaN     lightsalmon           #FFA07A      rgb(255,160,122)
 2        2    NaN          salmon           #FA8072      rgb(250,128,114)
 3        3    NaN      darksalmon           #E9967A      rgb(233,150,122)
 4        4    NaN      lightcoral           #F08080      rgb(240,128,128)
 5        5    NaN           coral           #FF7F50       rgb(255,127,80)
 6        6    NaN          tomato           #FF6347        rgb(255,99,71)
 7        7    NaN       orangered           #FF4500         rgb(255,69,0)
 8        8    NaN            gold           #FFD700        rgb(255,215,0)
 9        9    NaN          orange           #FFA500        rgb(255,165,0)
 10      10    NaN      darkorange           #FF8C00        rgb(255,140,0)
 11      11    NaN     lightyellow           #FFFFE0      rgb(255,255,224)
 12      12    NaN    lemonchiffon           #FFFACD      rgb(255,250,205)
 13      13    NaN      papayawhip           #FFEFD5      rgb(255,239,213)
 14      14    NaN        moccasin           #FFE4B5      rgb(255,228,181)
 15      15    NaN       peachpuff           #FFDAB9      rgb(255,218,185)
 16      16    NaN   palegoldenrod           #EEE8AA      rgb(238,232,170)
 17      17    NaN           khaki           #F0E68C      rgb(240,230,140)
 18      18    NaN       darkkhaki           #BDB76B      rgb(189,183,107)
 19      19    NaN          yellow           #FFFF00        rgb(255,255,0)
 20      20    NaN       lawngreen           #7CFC00        rgb(124,252,0)
 21      21    NaN      chartreuse           #7FFF00        rgb(127,255,0)
 22      22    NaN       limegreen           #32CD32        rgb(50,205,50)
 23      23    NaN            lime           #00FF00          rgb(0.255.0)
 24      24    NaN     forestgreen           #228B22        rgb(34,139,34)
 25      25    NaN           green           #008000          rgb(0,128,0)
 26      26    NaN      powderblue           #B0E0E6      rgb(176,224,230)
 27      27    NaN       lightblue           #ADD8E6      rgb(173,216,230)
 28      28    NaN    lightskyblue           #87CEFA      rgb(135,206,250)
 29      29    NaN         skyblue           #87CEEB      rgb(135,206,235)
 30      30    NaN     deepskyblue           #00BFFF        rgb(0,191,255)
 31      31    NaN  lightsteelblue           #B0C4DE      rgb(176,196,222)
 32      32    NaN      dodgerblue           #1E90FF       rgb(30,144,255)]

In [59]:
tables[0]

         0      1               2                 3                     4
0   Number  Color      Color Name  Hex Code #RRGGBB  Decimal Code (R,G,B)
1        1    NaN     lightsalmon           #FFA07A      rgb(255,160,122)
2        2    NaN          salmon           #FA8072      rgb(250,128,114)
3        3    NaN      darksalmon           #E9967A      rgb(233,150,122)
4        4    NaN      lightcoral           #F08080      rgb(240,128,128)
5        5    NaN           coral           #FF7F50       rgb(255,127,80)
6        6    NaN          tomato           #FF6347        rgb(255,99,71)
7        7    NaN       orangered           #FF4500         rgb(255,69,0)
8        8    NaN            gold           #FFD700        rgb(255,215,0)
9        9    NaN          orange           #FFA500        rgb(255,165,0)
10      10    NaN      darkorange           #FF8C00        rgb(255,140,0)
11      11    NaN     lightyellow           #FFFFE0      rgb(255,255,224)
12      12    NaN    lemonchiffon           #FFFACD      rgb(255,250,205)
13      13    NaN      papayawhip           #FFEFD5      rgb(255,239,213)
14      14    NaN        moccasin           #FFE4B5      rgb(255,228,181)
15      15    NaN       peachpuff           #FFDAB9      rgb(255,218,185)
16      16    NaN   palegoldenrod           #EEE8AA      rgb(238,232,170)
17      17    NaN           khaki           #F0E68C      rgb(240,230,140)
18      18    NaN       darkkhaki           #BDB76B      rgb(189,183,107)
19      19    NaN          yellow           #FFFF00        rgb(255,255,0)
20      20    NaN       lawngreen           #7CFC00        rgb(124,252,0)
21      21    NaN      chartreuse           #7FFF00        rgb(127,255,0)
22      22    NaN       limegreen           #32CD32        rgb(50,205,50)
23      23    NaN            lime           #00FF00          rgb(0.255.0)
24      24    NaN     forestgreen           #228B22        rgb(34,139,34)
25      25    NaN           green           #008000          rgb(0,128,0)
26      26    NaN      powderblue           #B0E0E6      rgb(176,224,230)
27      27    NaN       lightblue           #ADD8E6      rgb(173,216,230)
28      28    NaN    lightskyblue           #87CEFA      rgb(135,206,250)
29      29    NaN         skyblue           #87CEEB      rgb(135,206,235)
30      30    NaN     deepskyblue           #00BFFF        rgb(0,191,255)
31      31    NaN  lightsteelblue           #B0C4DE      rgb(176,196,222)
32      32    NaN      dodgerblue           #1E90FF       rgb(30,144,255)